<div class="card">
    <h2>Please Select Below Details for Loading MultiSelects</h2>

    <div class="form-row">
        <label>Number of records to load:</label>
        <input type="number" [(ngModel)]="recordCount" min="1" max="10000" style="margin-top: 15px; width: 165px;" />
    </div>

    <div class="form-row">
        <label class="checkbox-label">
            <input type="checkbox" [(ngModel)]="patchValues" />
            Patch values to MultiSelects
        </label>
    </div>

    <div class="form-row btn-wrapper">
        <button (click)="loadDropdowns()" class="btn-theme">Load MultiSelects</button>
    </div>
</div>

<form [formGroup]="form" *ngIf="loadedCount > 0" class="multi-selects-form">
    <div *ngIf="loading" class="multi-select-loading">
        <kendo-loader [type]="'converging-spinner'" [themeColor]="'primary'" [size]="'large'"></kendo-loader>
        <div class="loading-msg">Loading MultiSelects...</div>
    </div>

    <div *ngIf="!loading">
        <div *ngFor="let control of ['multiSelect1', 'multiSelect2', 'multiSelect3', 'multiSelect4', 'multiSelect5', 'multiSelect6']; let i = index"
            class="multi-select-wrapper">
            <label><strong>MultiSelect {{ i + 1 }}</strong></label>
            <kendo-multiselect [formControlName]="control" [data]="data" [valuePrimitive]="true" [filterable]="true"
                [loading]="loading" [textField]="'text'" [valueField]="'value'" (filterChange)="onFilterChange($event)"
                class="multi-select">
            </kendo-multiselect>
        </div>
    </div>
</form>